*{
	padding:0;
	margin:0;
}
/*.clearfix:after{
	content:'';
	display: block;
	height:0;
	
	overflow: hidden;
	clear: both;
}
.clearfix{
	zoom:1;

}*/
.clearfix:after{
	content:'';
	display: block;
	height:0;
	overflow: hidden;
	clear: both;
}
.clearfix{
	*zoom:1;
}

.widthColm{
	width: 1000px;
	margin:0 auto;
}
input{
	outline: none;
	border:none;
}
a{
	text-decoration: none;
	color:#666666;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.De-title{
	width:190px;
	height: 76px;
	background:url(../icons/1_11.png) 0  center no-repeat;
}
.show{
	display: block;
}
.hide{
	display: none;
}

.line{
	border-bottom: 1px dotted #ccc;
}
.settle_pl{
	padding-left: 32px;
}